.HomeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
  width: 100%;
  box-sizing: border-box;
  grid-gap: 0.5rem;
  min-height: 0;
}
.HomeGrid > article {
  background-color: hsl(var(--grey-700));
  text-align: center;
  display: flex;
  flex-direction: column;
}
.HomeGrid > article > h2 {
  margin: 0;
}
.HomeJobs {
  grid-column: 1 / 4;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .HomeGrid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
