.JobsWrapper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-gap: 0.5rem;
}
.JobsFilterSort {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: hsl(var(--grey-900));
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0.5rem;
}
.JobsFilter {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: hsl(var(--grey-700));
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}
.JobsFilter > p, .JobsSort > p {
  margin: 0;
}
.JobsSort {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: hsl(var(--grey-700));
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.JobsDetailButton {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: hsl(var(--brand-300));
  background-color: transparent;
  border: none;
}
.JobsDetailButton > p {
  margin: 0;
  font-family: 'Material Symbols Outlined';
}

.JobsFilterItem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  align-items: center;
}
.JobsSelectWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.JobsFilterItem > p {
  margin: 0;
  color: hsl(var(--brand-300));
}
@media (max-width: 830px) {
  .JobsSort > p, .JobsFilter > p, .JobsFilterItem > p {
    font-size: 0.8rem;
  }
}
@media (max-width: 600px) {
  .JobsFilterSort {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .JobsWrapper {
    grid-template-rows: 10rem 1fr;
  }
}
